
.formLabel {
    display: block;
    margin-bottom: 5px;
  }

  
.formInput {
    width: 95%;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

.inputbox {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #52525B40;
}

.heading {
    color:#008AC7;
}

.button {
    color:  #FFF;
    background-color: #008AC7;
    border-radius: 8px;
    width: 100%;
    border: none;
    padding: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.card {
    width: 300px;
    height: auto;
    background-color: #008AC7;
    border-radius: 10px;
   
}

.conimg{
    margin-top: 40px;
    margin-left: 40px;
    filter: drop-shadow(20px 14px 14px  #a6a6a6);
}



.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  .textarea {
    height: 100px;
  }